# Copie ce fichier en .env et remplis les valeurs
# Ne JAMAIS committer .env sur GitHub

DB_USER=uaszgpt_user
DB_PASSWORD=Uaszgpt@2026!
DB_ROOT_PASSWORD=Root@Uaszgpt2026!
GRAFANA_PASSWORD=Grafana@2026!