# Java / Spring Boot
*.class
*.jar
*.war
target/
.mvn/

# Node / React
node_modules/
build/
dist/
.npm/

# Variables d'environnement — JAMAIS sur GitHub
.env
.env.production
.env.staging
.env.local

# Docker
docker/volumes/

# IDE
.idea/
*.iml
.vscode/

# OS Windows
Thumbs.db
desktop.ini